@model HomeVM
@{
    ViewData["Title"] = "Index";
}
@section styles{
    <style>
        .product-list-small img {
            width: 110px;
            height: 110px;
        }
    </style>
}
<section class="home-slider position-relative mb-30">
    <div class="container">
        <div class="home-slide-cover mt-30">
            <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                @foreach (var item in Model.Sliders)
                {
                    <div class="single-hero-slider single-animation-wrap" style="background-image: url(../../assets/imgs/slider/@item.Image)">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                @Html.Raw(item.Title)
                            </h1>
                            <p class="mb-65">@item.Description</p>
                            <form class="form-subcriber d-flex">
                                <input type="email" placeholder="Sizin e-mail adresiniz" />
                                <button class="btn" type="submit">Abunə ol</button>
                            </form>
                        </div>
                    </div>
                }

            </div>
            <div class="slider-arrow hero-slider-1-arrow"></div>
        </div>
    </div>
</section>
<!--End hero slider-->
<section class="popular-categories section-padding">
    <div class="container wow animate__animated animate__fadeIn">
        <div class="section-title">
            <div class="title">
                <h3>Seçilmiş Kateqoriyalar</h3>
            </div>
            <div class="slider-arrow slider-arrow-2 flex-right carausel-10-columns-arrow" id="carausel-10-columns-arrows"></div>
        </div>
        <div class="carausel-10-columns-cover position-relative">
            <div class="carausel-10-columns" id="carausel-10-columns">
                <div class="card-2 bg-9 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/cupcake-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">Keks</a></h6>
                    <span>26 məhsul</span>
                </div>
                <div class="card-2 bg-10 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/milk-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">İnək südü</a></h6>
                    <span>28 məhsul</span>
                </div>
                <div class="card-2 bg-11 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/peach-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">Şaftalı</a></h6>
                    <span>14 məhsul</span>
                </div>
                <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/apple-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">Alma</a></h6>
                    <span>54 məhsul</span>
                </div>
                <div class="card-2 bg-13 wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/meat-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">Ət</a></h6>
                    <span>56 məhsul</span>
                </div>
                <div class="card-2 bg-14 wow animate__animated animate__fadeInUp" data-wow-delay=".6s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/drink-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">İçki</a></h6>
                    <span>72 məhsul</span>
                </div>
                <div class="card-2 bg-15 wow animate__animated animate__fadeInUp" data-wow-delay=".7s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/strawberry-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">Çiyələk</a></h6>
                    <span>36 məhsul</span>
                </div>
                <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay=".8s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/energy-drink-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">Enerji içkisi</a></h6>
                    <span>123 məhsul</span>
                </div>
                <div class="card-2 bg-10 wow animate__animated animate__fadeInUp" data-wow-delay=".9s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/tea-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">Çay</a></h6>
                    <span>34 məhsul</span>
                </div>
                <div class="card-2 bg-12 wow animate__animated animate__fadeInUp" data-wow-delay="1s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/honey-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">Bal</a></h6>
                    <span>89 məhsul</span>
                </div>
                <div class="card-2 bg-11 wow animate__animated animate__fadeInUp" data-wow-delay="0s">
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html"><img src="~/assets/imgs/shop/fast-food-svgrepo-com.svg" alt="" /></a>
                    </figure>
                    <h6><a href="shop-grid-right.html">Qəlyanaltı</a></h6>
                    <span>87 məhsul</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End category slider-->
<section class="product-tabs section-padding position-relative">
    <div class="container">
        <div class="section-title style-2 wow animate__animated animate__fadeIn">
            <h3>Populyar Məhsullar</h3>
            <ul class="nav nav-tabs links" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Hamısı</button>
                </li>
                @foreach (var item in Model.Categories)
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="@item.Name" type="button" role="tab" aria-controls="tab-one" aria-selected="true">@item.Name</button>
                    </li>
                }
            </ul>
        </div>
        <!--End nav-tabs-->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                <div class="row product-grid-4">
                    @await Component.InvokeAsync("Product")
                    <!--end product card-->
                </div>
                <!--End product-grid-4-->
            </div>
            <!--En tab one-->
        </div>
        <!--End tab-content-->
    </div>
</section>
<!--Products Tabs-->
<section class="section-padding pb-5">
    <div class="container">
        <div class="section-title wow animate__animated animate__fadeIn" data-wow-delay="0">
            <h3 class="">Günün Endirimləri</h3>
            <a class="show-all" href="shop-grid-right.html">
                Bütün Sövdələşmələr
                <i class="fi-rs-angle-right"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-cart-wrap style-2 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                    <div class="product-img-action-wrap">
                        <div class="product-img">
                            <a href="shop-product-right.html">
                                <img src="~/assets/imgs/banner/banner-5.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <div class="deals-countdown-wrap">
                            <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                        </div>
                        <div class="deals-content">
                            <h2><a href="shop-product-right.html">Dəyişiklik Üzvi Quinoa, Qəhvəyi və Qırmızı Düyü toxumları</a></h2>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                            </div>
                            <div>
                                <span class="font-small text-muted">By <a href="vendor-details-1.html">NestFood</a></span>
                            </div>
                            <div class="product-card-bottom">
                                <div class="product-price">
                                    <span>32.85 ₼</span>
                                    <span class="old-price">33.8 ₼</span>
                                </div>
                                <div class="add-cart">
                                    <a class="add" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Səbətə at</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="product-cart-wrap style-2 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                    <div class="product-img-action-wrap">
                        <div class="product-img">
                            <a href="shop-product-right.html">
                                <img src="~/assets/imgs/banner/banner-6.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <div class="deals-countdown-wrap">
                            <div class="deals-countdown" data-countdown="2026/04/25 00:00:00"></div>
                        </div>
                        <div class="deals-content">
                            <h2><a href="shop-product-right.html">Perdue Simply Smart Organics Gluten Free</a></h2>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                            </div>
                            <div>
                                <span class="font-small text-muted">By <a href="vendor-details-1.html">Köhnə El Paso</a></span>
                            </div>
                            <div class="product-card-bottom">
                                <div class="product-price">
                                    <span>24.85 ₼</span>
                                    <span class="old-price">26.8 ₼</span>
                                </div>
                                <div class="add-cart">
                                    <a class="add" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 d-none d-lg-block">
                <div class="product-cart-wrap style-2 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                    <div class="product-img-action-wrap">
                        <div class="product-img">
                            <a href="shop-product-right.html">
                                <img src="~/assets/imgs/banner/banner-7.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <div class="deals-countdown-wrap">
                            <div class="deals-countdown" data-countdown="2027/03/25 00:00:00"></div>
                        </div>
                        <div class="deals-content">
                            <h2><a href="shop-product-right.html">İmza odunla bişmiş göbələk və karamelize</a></h2>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 80%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (3.0)</span>
                            </div>
                            <div>
                                <span class="font-small text-muted">By <a href="vendor-details-1.html">Proqresso</a></span>
                            </div>
                            <div class="product-card-bottom">
                                <div class="product-price">
                                    <span>12.85 ₼</span>
                                    <span class="old-price">13.8 ₼</span>
                                </div>
                                <div class="add-cart">
                                    <a class="add" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Səbətə at</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 d-none d-xl-block">
                <div class="product-cart-wrap style-2 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                    <div class="product-img-action-wrap">
                        <div class="product-img">
                            <a href="shop-product-right.html">
                                <img src="~/assets/imgs/banner/banner-8.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="product-content-wrap">
                        <div class="deals-countdown-wrap">
                            <div class="deals-countdown" data-countdown="2025/02/25 00:00:00"></div>
                        </div>
                        <div class="deals-content">
                            <h2><a href="shop-product-right.html">Moruq suyu ilə sadəcə limonad</a></h2>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 80%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (3.0)</span>
                            </div>
                            <div>
                                <span class="font-small text-muted">By <a href="vendor-details-1.html">Yoplait</a></span>
                            </div>
                            <div class="product-card-bottom">
                                <div class="product-price">
                                    <span>15.85 ₼</span>
                                    <span class="old-price">16.8 ₼</span>
                                </div>
                                <div class="add-cart">
                                    <a class="add" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Səbətə at</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Deals-->
<section class="section-padding mb-30">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                <h4 class="section-title style-1 mb-30 animated animated">Ən çox satılan</h4>
                <div class="product-list-small animated animated">
                    <article class="row align-items-center hover-up">
                        <figure class="col-md-4 mb-0">
                            <a href="shop-product-right.html"><img src="~/assets/imgs/shop/9ba6c9f4-9aad-4d23-ba1f-d9d7c2f5d7fesandora1.jpg" alt="" /></a>
                        </figure>
                        <div class="col-md-8 mb-0">
                            <h6>
                                <a href="shop-product-right.html">Əsl meyvələrdən çəkilmiş şirə</a>
                            </h6>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                            </div>
                            <div class="product-price">
                                <span>3₼</span>
                                <span class="old-price">4₼</span>
                            </div>
                        </div>
                    </article>
                    <article class="row align-items-center hover-up">
                        <figure class="col-md-4 mb-0">
                            <a href="shop-product-right.html"><img src="~/assets/imgs/shop/503e3e88-6dd4-44f6-abf2-902bdf902b54sobranie1.jpg" alt="" /></a>
                        </figure>
                        <div class="col-md-8 mb-0">
                            <h6>
                                <a href="shop-product-right.html">Siqaret çəkmək sizin sağlamlığınıza ziyan vurur!</a>
                            </h6>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                            </div>
                            <div class="product-price">
                                <span>3.50₼</span>
                                <span class="old-price">4₼</span>
                            </div>
                        </div>
                    </article>
                    <article class="row align-items-center hover-up">
                        <figure class="col-md-4 mb-0">
                            <a href="shop-product-right.html"><img src="~/assets/imgs/shop/3f913413-7ab0-4039-83b8-b1775e379b09cocacola.jpg" alt="" /></a>
                        </figure>
                        <div class="col-md-8 mb-0">
                            <h6>
                                <a href="shop-product-right.html">Coca-cola Şəkərsiz</a>
                            </h6>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                            </div>
                            <div class="product-price">
                                <span>1₼</span>
                                <span class="old-price">2₼</span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-md-0 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                <h4 class="section-title style-1 mb-30 animated animated">Trend Məhsullar</h4>
                <div class="product-list-small animated animated">
                    <article class="row align-items-center hover-up">
                        <figure class="col-md-4 mb-0">
                            <a href="shop-product-right.html"><img src="~/assets/imgs/shop/6372827b-d612-49b7-90f7-2eb0b6535f61kinder.jpg" alt="" /></a>
                        </figure>
                        <div class="col-md-8 mb-0">
                            <h6>
                                <a href="shop-product-right.html">211454 KINDER DELICE 42 GR 8000500042854</a>
                            </h6>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                            </div>
                            <div class="product-price">
                                <span>3₼</span>
                                <span class="old-price">3.75₼</span>
                            </div>
                        </div>
                    </article>
                    <article class="row align-items-center hover-up">
                        <figure class="col-md-4 mb-0">
                            <a href="shop-product-right.html"><img src="~/assets/imgs/shop/4e0cc077-d5fc-40a3-8b09-cf610b37d89edonut.jpg" alt="" /></a>
                        </figure>
                        <div class="col-md-8 mb-0">
                            <h6>
                                <a href="shop-product-right.html">GUSTO DONUT KAKAOLU 50 QR</a>
                            </h6>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                            </div>
                            <div class="product-price">
                                <span>1₼</span>
                                <span class="old-price">1.20₼</span>
                            </div>
                        </div>
                    </article>
                    <article class="row align-items-center hover-up">
                        <figure class="col-md-4 mb-0">
                            <a href="shop-product-right.html"><img src="~/assets/imgs/shop/990e15a6-2a6d-414b-a43a-6122da437662natura1.jpg" alt="" /></a>
                        </figure>
                        <div class="col-md-8 mb-0">
                            <h6>
                                <a href="shop-product-right.html">213126 NATURA ORANGE JUICE 0.2 LT 4760088700068</a>
                            </h6>
                            <div class="product-rate-cover">
                                <div class="product-rate d-inline-block">
                                    <div class="product-rating" style="width: 90%"></div>
                                </div>
                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                            </div>
                            <div class="product-price">
                                <span>1₼</span>
                                <span class="old-price">1.50₼</span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-lg-block wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                <h4 class="section-title style-1 mb-30 animated animated">Bu yaxınlarda əlavə edildi</h4>
                <div class="product-list-small animated animated">
                    @foreach (var item in Model.RecentProducts)
                    {
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="~/assets/imgs/shop/@item.ProductImages.Where(pi=>pi.IsFront == true).FirstOrDefault().Image" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="">@item.Name</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: @(item.Raiting*20)%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted">(@item.Raiting.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>@item.Price ₼</span>
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-xl-block wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                <h4 class="section-title style-1 mb-30 animated animated">Ən yüksək qiymətləndirilmiş</h4>
                <div class="product-list-small animated animated">
                    @foreach (var item in Model.TopRatedProducts)
                    {
                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="shop-product-right.html"><img src="~/assets/imgs/shop/@item.ProductImages.Where(pi=>pi.IsFront == true).FirstOrDefault().Image" alt="" /></a>
                            </figure>
                            <div class="col-md-8 mb-0">
                                <h6>
                                    <a href="">@item.Name</a>
                                </h6>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: @(item.Raiting*20)%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted">(@item.Raiting.0)</span>
                                </div>
                                <div class="product-price">
                                    <span>@item.Price ₼</span>
                                </div>
                            </div>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--End 4 columns-->